.mychip{
    background-color: var(--color-bg-hero);
    color: var(--color-headphone);
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    gap: 1px;
    margin-top: 0.1rem;
    margin-left: -4rem;   
}
.cardContainer {
    color: var(--color-headphone);
}
.mycard{
    Radius:10px, 10px, 0px, 0px
}
.text{
    display: flex;
    text-align: left;
}