.heroSection{
    /* background-color: var(--color-bg-hero); */
    width: 100%;
    color: var(--color-headphone);
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroSection img {
    max-width: 100%;
    height: 15rem;
    
  }

  .heroSection h1{
    font-family: 'Poppins', sans-serif; /* Use Poppins font */

     }

    