.Hero{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-hero);
    color: var(--color-headphone);
}

.HeroTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-weight: 600;
    margin: 20px;

}

.HeroTitle > h1{
    height: 48px;
    font-size: 32px;
}

.HeroImg{
    height: 212px;
    width: 212px;
}